.list-item {
  border: 1px solid;
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img {
  width: 100px;
}

.title {
  font-size: 24px;
}

.positive {
  color: rgb(0, 200, 0);
}

.negative {
  color: rgb(255, 40, 40);
}