.table {
  --light-color: #fff;
  --grey-color: #f3f3f3;



  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.table thead tr {
  background-color: #333;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
  text-transform: capitalize;
}

.table tbody tr.even {
  background-color: var(--grey-color);
}

.table tbody tr.odd {
  background-color: var(--light-color);
}


/* .table tbody tr:nth-child(even) {
  background-color: var(--grey-color);
}

.table tbody tr:nth-child(odd) {
  background-color: var(--light-color);
} */